#### Churn Prediction using fully connected neural networks

In [15]:
import pandas_profiling
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras

In [4]:
import os
os.getcwd()

'C:\\Users\\Nandu\\Downloads\\deepLearning'

In [5]:
### Importing the dataset
dataset=pd.read_csv("Churn_Prediction/Churn_Modelling.csv")

In [6]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [21]:
from pandas_profiling import ProfileReport
html_str_output = pandas_profiling.ProfileReport(dataset)

OSError: 'C:\\Users\\Nandu\\anaconda3\\envs\\tensorflow\\lib\\site-packages\\pandas_profiling\\pandas_profiling.mplstyle' not found in the style library and input is not a valid URL or path; see `style.available` for list of available styles

In [8]:
dataset.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [9]:
dataset.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [13]:

dataset_new = pd.get_dummies(dataset,['Geography','Gender'],drop_first=True)

In [22]:
dataset_new.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [23]:
X= dataset_new[dataset_new.columns.difference(['Exited'])]

In [24]:
Y= dataset_new['Exited']

In [25]:
from sklearn.model_selection import train_test_split

In [29]:
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size=0.3,random_state=123)

In [30]:
# Standarize the variables - ease to converge
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train_x=sc.fit_transform(train_x)
test_x =sc.fit_transform(test_x)

In [31]:
train_x.shape

(7000, 11)

In [34]:
from  keras.models import Sequential
from keras.layers import Dense

In [35]:
model = Sequential()

In [36]:
model.add(Dense(input_dim=11,output_dim=6,init='uniform',activation ='relu')) #Hidden layer1

C:\Users\Nandu\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=11, activation="relu", units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [38]:
model.add(Dense(output_dim=6,init='uniform',activation='relu')) #hidden layer2

C:\Users\Nandu\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [41]:
model.add(Dense(output_dim=1,init='uniform',activation='sigmoid')) #output layer

C:\Users\Nandu\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [43]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy']) #compile

In [44]:
model.fit(train_x,train_y,batch_size=10,nb_epoch =10)

C:\Users\Nandu\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/10
7000/7000 [==============================] - 1s 195us/step - loss: 0.4849 - accuracy: 0.7954
Epoch 2/10
7000/7000 [==============================] - 1s 149us/step - loss: 0.4282 - accuracy: 0.7954
Epoch 3/10
7000/7000 [==============================] - 1s 137us/step - loss: 0.4221 - accuracy: 0.7996
Epoch 4/10
7000/7000 [==============================] - 1s 141us/step - loss: 0.4157 - accuracy: 0.8229
Epoch 5/10
7000/7000 [==============================] - 1s 134us/step - loss: 0.4072 - accuracy: 0.8273
Epoch 6/10
7000/7000 [==============================] - 1s 131us/step - loss: 0.3986 - accuracy: 0.8269
Epoch 7/10
7000/7000 [==============================] - 1s 131us/step - loss: 0.3908 - accuracy: 0.8284
Epoch 8/10
7000/7000 [==============================] - 1s 131us/step - loss: 0.3846 - accuracy: 0.8371
Epoch 9/10
7000/7000 [==============================] - 1s 131us/step - loss: 0.3797 - accuracy: 0.8404
Epoch 10/10
7000/7000 [==============================] - 1s 131us/step - loss: 0.3757 - accuracy: 0.8446

In [45]:
y_pred = model.predict(test_x)

In [48]:
import sklearn.metrics as metrics

In [49]:
metrics.roc_auc_score(test_y,y_pred)

0.847782052830449

In [54]:
y_pred =(y_pred>0.2)

In [55]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(test_y,y_pred)

In [56]:
cm

array([[1808,  587],
       [ 129,  476]], dtype=int64)

In [58]:
print(metrics.classification_report(test_y,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.75      0.83      2395
           1       0.45      0.79      0.57       605

    accuracy                           0.76      3000
   macro avg       0.69      0.77      0.70      3000
weighted avg       0.84      0.76      0.78      3000

In [59]:
model.save('churn_prediction.h5')

In [61]:
from keras.models import load_model
model1 = load_model('churn_prediction.h5')

In [62]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________